@keyframes colorChange {
  from {
    color: green;
  }
  to {
    color: yellow;
  }
}

.hello-world {
  width: 500px;
  padding: 15px;
  margin: 0 auto;
  background-color: black;
  color: green;
  font-weight: bold;
  font-size: 20px;
  animation: colorChange ease-in-out infinite alternate;
  animation-duration: 0.5s;
}
